<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container">
      <div class="my-3 row">
        <div class="col-md-4 col-sm-12 mb-4 px-3">
          <div routerLink="/pago-matricula" class="card-home" style="background: linear-gradient(0deg, #00000073 40%, transparent 70%), url('assets/acudiente/matricula/pago.png');">
              <h5>Pago matricula</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-4 px-3">
          <div routerLink="/descarga-documento-matricula" class="card-home" style="background: linear-gradient(0deg, #00000073 40%, transparent 70%), url('assets/acudiente/matricula/descarga.png');">
              <h5>Decarga de documentos de la matrícula</h5>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>