<section class="hero">
	<div class="background-image" style="background-image: url(assets/img/hero.png);"></div>
	<div class="card shadow-2-strong">
		<div>
      <h6 class="text-primary text-left m-3"> Importante</h6>
			<p class="text-start m-2 p-2">Por favor ingrese su usuario, presione el botón aceptar y <br>
        <b>la solicitud de restauración de clave será enviada a su <br>
          cuenta de correo registrada en el sistema</b>  si el correo no <br>
           se encuentra en la bandeja de entrada, debe verificar <br>
            que no se encuentre almacenado como Spam.</p>
		</div>
		<form [formGroup]="formValue">
      <div class="ml-3 row">
        <div class="col-12">
          <div class="text-left">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Usuario</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu usuario" formControlName="email">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Código del estudiante de seguridad</label>
              <input type="password" class="fw-bolder fs-4 text-decoration-line-through form-control" id="exampleInputPassword1" placeholder="{{captcha}}" formControlName="captcha" readonly>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Ingrese el código del estudiante de seguridad</label>
              <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Código de seguridad del estudiante" formControlName="code">
            </div>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100 m-1" (click)="restablecerContrasena()">Aceptar</button>
          <button type="submit" class="btn btn-outline-primary w-100 m-1" routerLink="">Cancelar</button>
        </div>
      </div>



		</form>
	</div>
</section>



