<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2" *ngIf="matriculaPagada">
      <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / <a href="/matricula">Pago de matrícula</a> / Página actual</li>
        </ol>
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div *ngIf="allPensionsPaid" class="alert alert-success mt-3" role="alert">
                ¡Excelente! No tienes pensiones por pagar
              </div>
                <ul class="numbered-list">
                    <li class="text-primary">
                        <p>Seleccione cómo desea pagar las pensiones</p>
                        <p class="text-black"><span class="text-primary">Importante: </span>Solo puedes pagar una pensión por transacción o pagar mínimo 3 y aplicar a un descuento del 3%  (Descuento solo aplica para pagos por plataforma)</p>
                        <table class="table table-hover table-bordered table-responsive-sm">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col">Mes</th>
                              <th scope="col">Fecha de pago</th>
                              <th scope="col">Valor</th>
                              <th scope="col">Mora</th>
                              <th scope="col"></th>
                            </tr>
                          </thead>
                          <tbody>
                            
                            
                            <tr *ngFor="let pension of pensionesList; let index = index">
                              
                              <td *ngIf="pension.estatus=='Pagado'" class="d-flex justify-content-center align-items-center"><input type="checkbox" name="" id="check{{ pension.id }}" checked disabled></td>
                              <td *ngIf="pension.estatus=='Pendiente'" class="d-flex justify-content-center align-items-center"><input type="checkbox" name="" id="check{{ pension.id }}" (click)="checkPendientes(pension.fechaPago,$event)"></td>
                              <td [ngClass]="{'text-muted': pension.estatus === 'Pagado'}">{{ parseMes(pension.fechaPago) }}</td>
                              <td [ngClass]="{'text-muted': pension.estatus === 'Pagado'}">{{ pension.fechaPago.substring(0,10) }}</td>
                              <td [ngClass]="{'text-muted': pension.estatus === 'Pagado'}">${{ formatCurrency(pension.valor) }}</td>
                              <td [ngClass]="{'text-muted': pension.estatus === 'Pagado'}">{{ (pension.mora)?'Si':'No' }}</td>
                              <td [ngClass]="{'text-success': pension.estatus === 'Pagado', 'text-warning': pension.estatus === 'Pendiente'}">{{ pension.estatus }}</td>
                            </tr>
                          </tbody>
                        </table>
                    </li>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="selectAllMonths" (change)="selectAllMonths($event)">
                      <label class="form-check-label" for="selectAllMonths">Si desea pagar todo los meses, por favor seleccione esta opción</label>
                    </div>
                    <hr class="sidebar-divider bg-primary" style="height: 1px;">
                    <li class="text-primary">
                        <p>Seleccione el método de pago</p>
                        <p class="text-black" [attr.data-value]="pensionTotal">Valor de pensión: <span class="font-weight-bold">${{ formatCurrency(pensionTotal) }} <span *ngIf="discount" style="text-decoration-line: line-through; opacity: 0.5;" class="font-weight-bold">${{ formatCurrency(pensionTotalSinDescuento) }}</span></span>
                        </p>
                        <p  class="text-success font-weight-bold"></p>
                        <div *ngIf="discount" class="alert alert-success" role="alert">
                          Tines un descuento del {{discountPercent}}%!
                        </div>  
                        <div *ngIf="discountWarning5days"class="alert alert-warning" role="alert">
                          Recuerda que el descuento del {{discountPercent}}% es unicamente valido durante los primeros 5 días del mes!
                        </div>  
                    </li>
                    <div class="row ml-3 cardPago">
                        <p class="text-black">Seleccione el método de pago digital</p>
                        <div class="col-md-3 d-flex justify-content-center" [class.disabled]="pensionTotal === 0" [ngClass]="{'fade-opacity': true}" (click)="paymentAvalPayComponent()">
                          <img class="p-4" src="assets/img-pagomatricula/image1.png" alt="">
                        </div>
                      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center" [class.disabled]="pensionTotal === 0" [ngClass]="{'fade-opacity': true}" (click)="pagarPension()">
                        <i class="bi bi-wallet-fill text-white" style="font-size: 60px"></i>
                        <span>Bolsillo</span>
                      </div>
                    </div>
                </ul>
                
                
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container my-xl-2" *ngIf="matriculaPagada==false">
      <div class="row">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <p class="text-primary">
                Esta sección está inhabilitada hasta que se pague la matrícula
              </p>
              <a href="/pago-matricula" class="btn btn-primary">Continuar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>