<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="container row ">
    <div class="col-md-5 col-12 ml-4">
      <h1>Periodos</h1>
    </div>
   </div>
  <div class="row justify-content-end">
        <div class="col-md-3 col-12 my-2">
          <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
              <div class="input-group date" id="datetimepicker-minimum" data-target-input="nearest">
                <div class="input-group-append">
                  <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
              </div>
                  <input type="text" class="form-control datetimepicker-input" #filtro="ngModel" name="filtro" [(ngModel)]="filterText">
              </div>
          </form>
      </div>
      <div class="col-md-1 col-4 my-2">
        <button  class="btn btn-primary" (click)="search(searchForm)"><i class="bi bi-funnel"></i> Filtro</button>
      </div>
      <div class="col-md-3 col-8 my-2">
        <button type="button" class="btn btn-primary" routerLink="/año-lectivo-crear">Agregar</button>
      </div>
  </div>
  <div class="view">
    <table class="table table-hover table-bordered table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Código del estudiante<noscript></noscript></th>
          <th scope="col">Año lectivo</th>
          <th scope="col">Estado</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of dataSchoolYear; let index = index ">
        <tr>
          <td>{{index+1}}</td>
          <td>{{data.code}}</td>
          <td>{{data.age}}</td>
          <td *ngIf="data.isActive==0">Inactivo</td>
          <td *ngIf="data.isActive==1">Activo</td>

          <td>
            <button  class="text-info btn"  routerLink="/año-lectivo-editar/{{data.id}}">Editar</button>|
            <button  class="text-danger btn" (click)="deshabilitar(data)">Desactivar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-dashboard>







