

<div id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-white sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center">
              <div class="sidebar-brand-icon rotate-n-15">
                  <i class="fas fa-laugh-wink"></i>
              </div>
              <div class="sidebar-brand-text text-primary mx-3"><sup>Sistema académico</sup></div>
          </a>
          <!-- Divider -->
          <hr class="sidebar-divider bg-dark">
          <hr class="sidebar-divider my-0">
          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
              <a class="nav-link" href="">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span class="text-secondary">Inicio</span></a>
          </li>
          <!-- Divider -->
          <hr class="sidebar-divider">
          <!-- Heading -->
          <div class="sidebar-heading">
          </div>
          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <div class="dropright dropdown-submenu">
                <button class="btn btn-primary btn-sm nav-link  dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-person-square"></i><span> Ajustes de perfil</span>
                </button>
                <div class="dropdown-menu">
                  <h6 class="dropdown-item collapse-header">Ajustes:</h6>
                  <a class="dropdown-item" routerLink="/crear-usuario">Ajustar</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
          </li>
          <!-- Nav Item - Utilities Collapse Menu -->
          <!-- Divider -->
          <!-- Heading -->
          <div class="sidebar-heading">
          </div>
          <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class="text-secondary ">Servicios</span></a>
         </li>
          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <div class="dropright dropdown-submenu">
                <a class="nav-link dropdown-toggle text-dark dropdown-item " href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-mortarboard text-dark"></i><span> Pago de matricula</span>
                </a>
                <div class="dropdown-menu">
                  <h6 class="dropdown-item collapse-header">Matricula:</h6>
                  <a class="dropdown-item" href="#">Matricula</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </div>
          </li>
          <li class="nav-item">
                  <div class="dropright dropdown-submenu">
                    <a class="nav-link dropdown-toggle text-dark" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bi bi-credit-card text-dark"></i><span> Pago de pensiones</span>
                    </a>
                    <div class="dropdown-menu">
                      <h6 class="dropdown-item collapse-header">Pensiones:</h6>
                      <a class="dropdown-item" href="#">Matricula</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                  </div>
          </li>

          <li class="nav-item">
                <div class="dropright dropdown-submenu">
                  <a class="nav-link dropdown-toggle text-dark" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-plus-circle text-dark"></i><span> Pago de otros servicios</span>
                  </a>
                  <div class="dropdown-menu">
                    <h6 class="dropdown-item collapse-header">Pensiones:</h6>
                    <a class="dropdown-item" href="#">Matricula</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class="text-secondary">Información y certificados</span></a>
          </li>

          <li class="nav-item">
            <div class="dropright dropdown-submenu">
              <a class="nav-link dropdown-toggle text-dark" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-file-earmark-text text-dark"></i><span> Certificados</span>
              </a>
              <div class="dropdown-menu dropdown-menu">
                <h6 class="dropdown-item collapse-header">Pensiones:</h6>
                <a class="dropdown-item" href="#">Matricula</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="dropright dropdown-submenu">
              <a class="nav-link dropdown-toggle text-dark" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-wallet2 text-dark"></i><span> Historico de cartera</span>
              </a>
              <div class="dropdown-menu">
                <h6 class="dropdown-item collapse-header">Pensiones:</h6>
                <a class="dropdown-item" href="#">Matricula</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="dropright dropdown-submenu">
              <a class="nav-link dropdown-toggle text-dark" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="bi bi-file-check text-dark"></i><span> Informe de pagos</span>
              </a>
              <div class="dropdown-menu">
                <h6 class="dropdown-item collapse-header">Pensiones:</h6>
                <a class="dropdown-item" href="#">Matricula</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class="text-secondary">Bolsillo</span></a>

                <div class="dropright dropdown-submenu">
                  <a class="nav-link dropdown-toggle text-dark" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-wallet text-dark"></i><span> Bolsillo</span>
                  </a>
                  <div class="dropdown-menu">
                    <h6 class="dropdown-item collapse-header">Pensiones:</h6>
                    <a class="dropdown-item" href="#">Matricula</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </div>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span class="text-secondary">Cuenta</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="vista/dash.html" target="contenido">
              <i class="bi bi-box-arrow-in-right text-dark"></i>
                <span class="text-dark">Cerrar sesión</span></a>
          </li>

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
              <button class="rounded-circle border-0" id="sidebarToggle"><i class="bi bi-eject"></i></button>
          </div>
          <!-- Sidebar Message -->
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
          <!-- Main Content -->
          <div id="content">
              <!-- Topbar -->
              <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                  <!-- Sidebar Toggle (Topbar) -->
                  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                      <i class="fa fa-bars"></i>
                  </button>
                  <!-- Topbar Search -->
                  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                  </form>
                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">
                      <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                      <li class="nav-item dropdown no-arrow d-sm-none">
                          <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-search fa-fw"></i>
                          </a>
                          <!-- Dropdown - Messages -->
                          <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                              <form class="form-inline mr-auto w-100 navbar-search">
                                  <div class="input-group">
                                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                      <div class="input-group-append">
                                          <button class="btn btn-primary" type="button">
                                              <i class="fas fa-search fa-sm"></i>
                                          </button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </li>
                      <div class="topbar-divider d-none d-sm-block"></div>
                      <!-- Nav Item - User Information -->
                      <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="img-profile rounded-circle m-1" src="https://media.revistagq.com/photos/5f45010acb266484bb785c78/master/pass/dragon-ball-z.jpg">
                              <span class="mr-2 d-none d-lg-inline text-gray-600 small">USUARIO</span>
                          </a>
                          <!-- Dropdown - User Information -->
                          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout
                              </a>
                          </div>
                      </li>
                  </ul>
              </nav>
              <!-- End of Topbar  aqui es el final-->
              <!-- <app-create-user></app-create-user> -->
              <!-- <div style="background-color: red">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi veniam laboriosam corporis repudiandae, doloremque unde ipsa rerum, consequuntur cum itaque autem eveniet quos qui nulla dolorum sunt culpa. Nihil, ab?</div> -->
          </div>


          <!-- End of Main Content -->
          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright &copy; Alv 2021</span>
                  </div>
              </div>
          </footer>
          <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">¿Realmente desea cerrar sesión?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">Seleccione "Cerrar sesión" para terminar la sesión activa.</div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" onclick=cerrar_sesion();>Cerrar sesión</a>
              </div>
          </div>
      </div>
  </div>
</div>
