<aside [ngClass]="{'toggled': isSidebarOpen}">
  <button class="sidebar__toggle--button" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>
  <div class="sidebar-brand text-primary font-weight-bold" type="button" routerLink="/home">
    <span>Sistema Académico</span>
  </div>
  <ul class="mx-2">
    <li class="mb-2" *ngFor="let module of menuItems">
      <h1>{{module.moduleTitle}}</h1>
      <ul>
        <li class="nav__submenu" *ngFor="let submenu of module.moduleSubMenu" [routerLink]="submenu.url">
          <a>
            <i class="{{ submenu.icon }}"></i>
            {{ submenu.menuName }}
          </a>
          <i *ngIf="submenu.toggle" class="bi bi-chevron-right"></i>

          <div class="nav__dropdown" *ngIf="submenu.toggle">
            <ul *ngIf="submenu.submenu">
              <li *ngFor="let subitem of submenu.submenu">
                <a [routerLink]="subitem.url">{{ subitem.menuName }}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="mx-2 mt-3">
    <li data-toggle="modal" data-target="#logoutModal" aria-haspopup="true" aria-expanded="false">
      <ul>
        <li class="nav__submenu">
          <a>
            <i class="bi bi-box-arrow-left"></i>
            Cerrar Sesión
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
<div [ngClass]="{'sidebar-toggled': isSidebarOpen}" class="sidebar__backdrop" (click)="toggleSidebar()"></div>

<header [ngClass]="{'sidebar-toggled': isSidebarOpen}" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-collapse flex-row-reverse" id="navbar">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf=" role == 'acudiente' ">
        <a class="nav-link" href="#">
          <h5>¿Tiene asignaturas reprobadas?<span class="text-primary">(Sí)</span></h5>
        </a>
      </li>
      <li class="nav-item" *ngIf=" role == 'acudiente' ">
        <div class="d-flex align-items-center justify-content-center">
        <a class="nav-link text-primary" href="#" routerLink="/bolsillo">
          <h5>Bolsillo $<span>{{ currencyUtils.formatCurrency(bolsillo) }}</span></h5>
        </a>
        <a *ngIf=" role == 'acudiente' " style="padding: 4px 8px;" class="btn btn-primary rounded-circle" (click)="checkBolsillo()"><i class="bi bi-arrow-repeat"></i></a>
      </div>
      </li>
      <li class="nav-item" *ngIf=" role == 'acudiente' ">
        <a class="nav-link" href="#" routerLink="/historico-cartera">
          <h5>Saldo pendiente $<span>{{ currencyUtils.formatCurrency(saldoPendiente) }}</span></h5>
        </a>
      </li>
      <li class="nav-item">
        <div class="user">
          <img class="navbar__user-image" src="assets/img/user.png" alt="" srcset="">
          <div>
            <span>
              {{name}}<p class="navbar__user--role text-secondary">{{role}}</p>
            </span>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown" id="menu-user-md">
        <a class="nav-link" href="#" data-toggle="dropdown">
          <div class="user">
            <img class="navbar__user-image" src="assets/img/user.png" alt="" srcset="">
            <div>
              <span>
                {{name}}<p class="navbar__user--role text-secondary">{{role}}</p>
              </span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">
            <h5 class="text-secondary">¿Tiene asignaturas reprobadas?<span class="text-primary">(Sí)</span></h5>
          </a>
          <a class="dropdown-item" href="/bolsillo">
            <h5 class="text-primary" routerLink="/pago-bolsillo">Bolsillo $<span>{{
                currencyUtils.formatCurrency(bolsillo) }}</span></h5>
          </a>
          <a class="dropdown-item" href="/historico-cartera">
            <h5 class="text-secondary" routerLink="/historico-cartera">Saldo pendiente $<span>{{
                currencyUtils.formatCurrency(saldoPendiente) }}</span></h5>
          </a>
        </div>
      </li>
    </ul>
  </div>
</header>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Realmente desea cerrar sesión?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Seleccione "Cerrar sesión" para terminar la sesión activa.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" (click)="SignOff()" data-dismiss="modal">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>


<div id="main-container">
  <main [ngClass]="{'sidebar-toggled': isSidebarOpen}">
    <ng-content></ng-content>
  </main>
  <!-- <footer class="bg-white" [ngClass]="{'sidebar-toggled': isSidebarOpen}">
    <div class="copyright text-center my-auto">
      <span>Colegio Católico 2023 ©</span>
    </div>
  </footer> -->
</div>