<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2">
      <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / Página actual</li>
        </ol>
        <div class="card">
          <div class="card-body">
            <div class="container">
                <table *ngIf="listExtracurriculares.length > 0" class="table table-hover table-bordered table-responsive-sm">
                    <thead>
                      <tr>
                        <th *ngIf="listExtracurriculares.length > 1" scope="col"></th>
                        <th scope="col">Actividad</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Termina</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Docente</th>
                        <th scope="col" class="text-center">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let extracurricular of listExtracurriculares; let index = index ">
                        <td *ngIf="listExtracurriculares.length > 1" class="d-flex justify-content-center align-items-center"><input type="checkbox" name="" (change)="selectExtra(extracurricular.id,extracurricular.extracurricularInscriptionAsExtracurricular.id, $event)" id=""></td>
                        <td>{{ extracurricular.extracurricularInscriptionAsExtracurricular.activity }}</td>
                        <td>{{ formatFecha(extracurricular.extracurricularInscriptionAsExtracurricular.startDate) }}</td>
                        <td>{{ formatFecha(extracurricular.extracurricularInscriptionAsExtracurricular.finalDate) }}</td>
                        <td>{{ (extracurricular.extracurricularInscriptionAsExtracurricular.isActive)?'Activado':'Desactivado' }}</td>
                        <td>{{ extracurricular.extracurricularInscriptionAsExtracurricular.extracurricularAsTeacher.name }}</td>
                        <td class="text-center">
                          <button class="text-info btn" routerLink="/extracurriculares-ver/{{extracurricular.extracurricularInscriptionAsExtracurricular.id}}">Ver</button>
                          <span *ngIf="selectedExtrs.length < 2">|</span>
                          <button *ngIf="selectedExtrs.length < 2" class="text-danger btn" (click)="desvincularse(extracurricular.id, extracurricular.extracurricularInscriptionAsExtracurricular.id)">Desvincularse</button>
                        </td>
                      </tr> 
                    </tbody>
                  </table>
                  <div *ngIf="listExtracurriculares.length < 1">
                    <p class="text-primary m-0">No estas inscrit@ a un extracurricular!</p>
                  </div>
                  <div class="row">
                    <div class="col text-right">
                      <button *ngIf="selectedExtrs.length > 0" (click)="desvincularseVarios()" type="button" class="btn btn-danger">Desvincularse <span>({{selectedExtrs.length}})</span></button>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>