<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="content container my-xl-2">
    <div class="row">
      <div class="content-section col-md-12 mx-auto">
        <div class="card">
         <div class="card-body">
          <ul class="numbered-list">
                    
            <!-- <hr class="sidebar-divider bg-primary" style="height: 1px;"> -->
            <li class="text-primary">
                <form [formGroup]="formValue">
                  <div class="row">
      
                    <div *ngIf="mensaje_ok">
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{mensaje_ok}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                    <div *ngIf="mensaje_error">
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{mensaje_error}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                          (click)="cerrarAlerta()"></button>
                      </div>
                    </div>
                    <h5 class="text-primary">Nuevo documento de matricula:</h5>
                    <div class="mt-4">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="text-black">Nombre del documento<span class="text-danger">*</span></label>
                            <input type="text" class="form-control w-100" formControlName="title">
                          </div>
                        </div>
                      </div>
    
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="text-black">A quien aplica el documento<span class="text-danger">*</span></label>
                            <select class="form-control w-100" #canViewType formControlName="canViewType">
                              <option value="all">Todos los estudiantes</option>
                              <option value="grade">Un solo grado</option>
                              <option value="student">Un solo estudiante</option>
                            </select>
                          </div>
                        </div>
                        <div class="col" *ngIf="canViewType.value=='grade'">
                            <label class="text-black">Seleecione grado<span class="text-danger">*</span></label>
                            <select class="form-control w-100" formControlName="canViewValue">
                              <option *ngFor="let list of listGrades" value="{{ list.id }}">{{ list.description }}</option>
                            </select>
                        </div>
                        <div class="col" *ngIf="canViewType.value=='student'">
                            <label class="text-black">Código del estudiante<span class="text-danger">*</span></label>
                            <input type="text" class="form-control w-100" style="width: 100px;" formControlName="canViewValue">
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="text-black">A que tipo de matrícula<span class="text-danger">*</span></label>
                            <select class="form-control w-100" #canViewTuitionType formControlName="canViewTuitionType">
                              <option value="all">Todos los tipos de matrículas</option>
                              <option value="extraordinaria">Matrícula anticipada</option>
                              <option value="ordinaria">Matrícula ordinaria</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label class="text-black">Seleccione plantilla (Modulo gestion de Documentos)<span class="text-danger">*</span></label>
                            <select class="form-control w-100" formControlName="documentoid">
                              <option *ngFor="let list of listDocumentos" value="{{ list.id }}">{{ list.titulo }}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col text-right">
                    <button type="submit" class="btn btn-outline-primary mr-3" routerLink="/documentos-matricula"> Cancelar</button>
                    <button type="submit" class="btn btn-primary m-3" (click)="CrearDocumentosMatricula()"> Guardar</button>
                  </div>
      
                </form>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</app-dashboard>








