<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="content container my-xl-2">
    <div class="row">
      <div class="content-section col-md-12 mx-auto">
        <div class="card">
         <div class="card-body">
          <ul class="numbered-list">
                    
            <!-- <hr class="sidebar-divider bg-primary" style="height: 1px;"> -->
            <li class="text-primary">
                <form [formGroup]="formValue">
                  <div class="row">
      
                    <div *ngIf="mensaje_ok">
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{mensaje_ok}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    </div>
                    <div *ngIf="mensaje_error">
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{mensaje_error}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                          (click)="cerrarAlerta()"></button>
                      </div>
                    </div>
                    <h5 class="text-primary">Nuevo documento de matricula:</h5>
                    <div class="mt-3 d-flex align-items-center text-black">
                      <span>Nombre del documento</span><span class="text-danger">*</span>
                      <input type="text" class="form-control ml-3" style="width: 356px;" formControlName="title">

                      <span class="ml-3">A quien aplica el documento</span><span class="text-danger">*</span>
                      <select class="form-control ml-3" #canViewType style="width: fit-content;" formControlName="canViewType">
                        <option value="all">Todos los estudiantes</option>
                        <option value="grade">Un solo grado</option>
                        <option value="student">Un solo estudiante</option>
                      </select>
                    </div>
                    <div class="mt-3 d-flex align-items-center text-black" *ngIf="canViewType.value=='grade'">
                      <span>Seleecione grado</span><span class="text-danger">*</span>
                      <select class="form-control ml-3" style="width: fit-content;" formControlName="canViewValue">
                        <option *ngFor="let list of listGrades">{{ list.description }}</option>
                      </select>
                    </div>
                    <div class="mt-3 d-flex align-items-center text-black" *ngIf="canViewType.value=='student'">
                      <span>Código del estudiante</span><span class="text-danger">*</span>
                      <input type="text" class="form-control ml-3" style="width: 100px;" formControlName="canViewValue">
                    </div>
                    <button class="mt-3 btn btn-primary form-control" style="width: fit-content;" (click)="fileInput.click()"><i class="bi bi-upload"></i> Cargar documento</button>
      
                  </div>
      
                  <button type="submit" class="btn btn-primary m-3" hidden>  <input type="file" #fileInput class="form-control" formControlName="file"></button>
                  
                  <div class="col-md-6 my-4">
                    <button type="submit" class="btn btn-outline-primary m-3" routerLink="/documentos-matricula"> Cancelar</button>
                    <button type="submit" class="btn btn-primary m-3" (click)="CrearDocumentosMatricula()"> Guardar</button>
                  </div>
      
                </form>
            </li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
</app-dashboard>








