<section class="hero">
	<div class="background-image" style="background-image: url(assets/img/hero.png);"></div>
	<div class="card shadow-2-strong">
		<img src="assets/img/col.png" class="logo" alt="logoescudo">
		<form>
			<div class="content">
				<div class="mb-4">
					<label for="exampleInputEmail1" class="form-label">Usuario</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu usuario">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Contraseña</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
				</div>
				<div class="mb-4 form-check">
					<label class="form-check-label" for="exampleCheck1">Recordar contraseña <a href="https://www.w3schools.com">Olvidé la contraseña</a></label>
				</div>
			</div>
			<button type="button" class="btn btn-primary btn-lg btn-block">Iniciar Sesión</button>
			<label class="form-check-label" for="exampleCheck1">¿No tienes una cuenta? <a href="https://www.w3schools.com">Registrate aquí</a></label>
		</form>
	</div>
</section>
