/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-family: 'Inter';font-size: 16px;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: #2196F3;
	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

/*----------------
 	Hero Section
----------------*/

.logo {
	height: 20vh;
	width: 20vh;
}

.logcontainer{
	background-color: white;
}

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #000;
	text-align: center;
}

form{
	margin: 10%;
}

.content{
	text-align: left;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #5b5e61;
	z-index: -1;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #b6bdc0;
	opacity: 0.20;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 100vh;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

	.logo{
		height: 18vh;
		width: 18vh;
	}
}