<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="content container my-xl-2">
      <div class="row">
        <div class="content-section col-md-12 mx-auto">
          <div class="card">
           <div class="card-body">
            <form [formGroup]="formValue">
              <div class="row">
  
                <div *ngIf="mensaje_ok">
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{mensaje_ok}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
  
  
                <div *ngIf="mensaje_error">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{mensaje_error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                      (click)="cerrarAlerta()"></button>
                  </div>
                </div>
                <h4 class="text-left text-info btn">Datos del estudiante</h4>
  
                <div class="col-md-12 my-2">
                </div>
                
                <div class="col-md-2">
                  <label class="">Código del estudiante</label>
                </div>
  
                <div class="col-md-4">
                <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
                  <input type="text" class="form-control"  #filtro="ngModel" name="filtro" [(ngModel)]="filterText">
                </form>
                </div>
        
                <div class="col-md-2">
                  <label class="">Grado</label>
                </div>
  
                <div class="col-md-3">
                  <input type="number" class="form-control" formControlName="grado" readonly>
                </div>
  
                <div class="col-md-12 my-4">
                </div>
                <div class="col-md-2">
                  <label class="">Nombre del estudiante</label>
                </div>
  
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="nombres" readonly>
                </div>
  
                <div class="col-md-2">
                  <label class="">Apellidos del estudiante</label>
                </div>
  
                <div class="col-md-3">
                  <input type="text" class="form-control" formControlName="apellidos" readonly>
                </div>

                <div class="col-md-12 my-4">
                </div>
            
                <div class="col-md-2">
                  <label class="">Asignaturas a nivelar</label>
                </div>
  
                <div class="col-md-4">
                    <select class="form-control" formControlName="asignatura">
                      <option value="" selected>SELECCIONAR</option>
                      <!-- <option *ngFor="let item of grade" value="{{item.id}}">{{item.description}}</option> -->
                    </select>
                  </div>
               
  
                <div class="col-md-2">
                  <label class="">Modaliad del curso</label>
                </div>
  

                <div class="col-md-3">
                    <select class="form-control" formControlName="modalidadCurso">
                      <option value="" selected>SELECCIONAR</option>
                      <!-- <option *ngFor="let item of grade" value="{{item.id}}">{{item.description}}</option> -->
                    </select>
                  </div>
             
              </div>
  
              <div class="col-md-6 my-4">
                <button type="submit" class="btn btn-outline-primary m-3" routerLink="/nivelaciones"> Volver</button>
  
                <button type="submit" class="btn btn-primary m-3" (click)="CrearNivelacion()"> Guardar</button>
  
              </div>
  
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </app-dashboard>
  
  
  
  
  
  
  