<app-dashboard>
    <div class="container my-xl-2">
      <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / <a href="ajuste-perfil">Ajustes del perfil</a> / Página actual</li>
        </ol>
        <div class="card">
          <div class="card-body">
            <div class="container">
                <p class="text-primary" style="font-size: larger;">Datos del estudiante</p>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Nombres completos
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Apellidos completos
                        <input type="password" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Tipo de documento
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                        
                    </div>
                    <div class="col-md-6">
                        Identificación
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Expedida en
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Lugar de nacimiento
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Fecha de nacimiento
                        <input type="date" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Edad
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Dirección
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Unidad/Casa/Apto No.
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Barrio
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Estrato
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Teléfono
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Correo electrónico
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Solicitud cupo para
                        <select class="form-control" name="" id="">
                            <option>a</option>
                            <option>b</option>
                            <option>c</option>
                        </select>
                    </div>
                </div>
                <p class="text-primary" style="font-size: larger;">Tratamiento de data</p>
                <input type="checkbox" name="" id=""> <a class="ml-2" href="">Acepto Ley de protección de datos.</a><br>
                <input type="checkbox" name="" id=""> <a class="ml-2" href="">Acepto que todos mis datos personales se encuentran actualizados.
                </a>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary mt-3 ml-3">Gurdar información</button>
                    </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>