<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="view">
    <table class="table table-hover table-bordered table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Año</th>
          <th scope="col">Identificador</th>
          <th scope="col">Consecutivo</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha de creación</th>
        </tr>
      </thead>
      <tbody *ngFor="let period of dataPeriod; let index = index ">
        <tr>
          <td>{{index+1}}</td>
          <td>{{period.age}}</td>
          <td>{{period.identifier}}</td>
          <td>{{period.consecutive}}</td>
          <td *ngIf="period.isActive==0">Inactivo</td>
          <td *ngIf="period.isActive==1">Activo</td>
          <td>{{period.createdAt}}</td>
          <td>
            <!-- <button  class="btn btn-outline-primary" style="width: 38px !important;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editUser(user)"><i class="bi bi-wrench-adjustable"></i></button> -->
          </td>
        </tr>


      </tbody>
    </table>
  </div>
</app-dashboard>


