<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="content container my-xl-2">
    <div class="row">
      <div class="content-section col-md-12 mx-auto">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="formValue">
              <div class="row">

                <div *ngIf="mensaje_ok">
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{mensaje_ok}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>


                <div *ngIf="mensaje_error">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{mensaje_error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                      (click)="cerrarAlerta()"></button>
                  </div>
                </div>


                <h5 class="text-primary py-3">Nueva matricula</h5>
                <div class="row">
                  <div class="form-group">
                    <label>Grado *</label>
                    <select class="form-control" formControlName="grade">
                      <option *ngFor="let grad of grade" [ngValue]="grad?.description">{{grad?.description}}</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="text-primary font-weight-bold">Ordinaria</label>
                    <div class="form-group">
                      <label class="">Valor</label>
                      <input type="number" class="form-control" formControlName="ordinary_price">
                    </div>
                    <div class="row">
                      <div class="form-group col">
                        <label>Inicio</label>
                        <input type="date" class="form-control" formControlName="startDate">
                      </div>
                      <div class="form-group col">
                        <label class="">Fin</label>
                        <input type="date" class="form-control" formControlName="finalDate">
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <label class="text-primary font-weight-bold">Extraordinaria</label>
                    <div class="form-group">
                      <label class="">Valor</label>
                      <input type="number" class="form-control" formControlName="extraordinary_price">
                    </div>
                    <div class="row">
                      <div class="form-group col">
                        <label>Inicio</label>
                        <input type="date" class="form-control" formControlName="extraordinary_startDate">
                      </div>
                      <div class="form-group col">
                        <label class="">Fin</label>
                        <input type="date" class="form-control" formControlName="extraordinary_finalDate">
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="text-right">
                <button type="submit" class="btn btn-outline-primary m-3" routerLink="/matriculas"> Cancelar</button>
                <button type="submit" class="btn btn-primary m-3" (click)="CrearMatricula()"> Guardar</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-dashboard>