<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-4">
       <div class="row">   
        <div class="card"> 
             <div class="card-body"> 
              <div *ngIf="mensaje_ok">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>{{mensaje_ok}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>


              <div *ngIf="mensaje_error">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>{{mensaje_error}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    (click)="cerrarAlerta()"></button>
                </div>
              </div>

              <div class="row">
                <form [formGroup]="formDocumento">
                  <div class="col-12 mb-3 p-0">
                    <label class="">Título del Documento</label>
                    <input type="text" class="form-control" formControlName="titulo" name="titulo" [(ngModel)]="titulo" value="{{titulo}}">
                  </div>
                <div class="row">
                  <div class="col-3">
                    <div class="card p-3 mb-3">
                      <span>Variables precargadas:</span>
                      <br>
                      <div class="vars-content">
                        <input type="button" *ngFor="let variable of variables let i = index" class="btn btn-outline-secondary" value="{{variable}}" (click)="loadVariable($event)"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-9">
                    <editor apiKey="evod9g7rr0yymuzkscbo1ek27isepcdxhyad8qhmroambuti"
                    [init]="{
                      height: 500,
                      menubar: true,
                      language: 'es',
                      font_size_formats: '8pt 9pt 10pt 11pt 12pt 14pt 18pt 24pt 30pt 36pt 48pt 60pt 72pt 96pt',
                      plugins: 'advlist hr autolink lists link image charmap print preview anchor table',
                      table_toolbar: 'tableprops tabledelete | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol',
                      toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image | table | casechange'
                    }"
                      formControlName="template" name="template" [(ngModel)]="template"
                    ></editor>
                  </div>
                </div>
                </form>
              </div>

              <div class="row mt-3">
                <div class="ml-auto col-3 text-right">
                  <button type="submit" class="btn btn-outline-primary mr-3" routerLink="/gestion-documentos"> Cancelar</button>
                  <button type="submit" class="btn btn-primary" (click)="editarDocumento()"> Guardar</button>
                </div>
              </div>
              </div>
          </div>
  
    </div>
    </div>
  
  </app-dashboard>