<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2">
      <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / <a href="/certificados">Certificados</a> / Página actual</li>
        </ol>
        <div class="card">
          <div class="card-body">
            <div class="container">
              
                <ul class="numbered-list">
                    <li class="text-primary">
                        <p>Seleccione certificado</p>
                        <!-- <p>Valor de pensión anual: <span class="text-black">$</span> <span class="ml-4">Valor de pensión mensual: <span class="text-black">$</span></span> </p> -->
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label class="text-black">
                                Certificado <span class="text-danger">*</span>
                              </label>
                              <select class="form-control" [(ngModel)]="certificateSelect" (ngModelChange)="checkFields()">
                                <option value="" disabled selected hidden>Selecciona un certificado</option>
                                <option value="{{ item.id }}" *ngFor="let item of listCertificate">{{ item.concept }}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label class="text-black">
                                Grado del certificado  <span class="text-danger">*</span>
                              </label>
                              <select class="form-control" [(ngModel)]="gradeSelect" (ngModelChange)="checkFields()">
                                <option value="" disabled selected hidden>Selecciona un Grado</option>
                                <option value="{{ item.id }}" *ngFor="let item of listGrades">{{ item.description }}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label class="text-black">
                                Canal de entrega  <span class="text-danger">*</span>
                              </label>
                              <select class="form-control" [(ngModel)]="canalSelect" (ngModelChange)="checkFields()">
                                <option value="" disabled selected hidden>Selecciona un canal de entrega</option>
                                <option value="Online">Online</option>
                                <option value="R. Caja">R. Caja</option>
                              </select>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label class="text-black">
                                Detalle del certificado y motivo de solicitud.  <span class="text-danger">*</span>
                              </label>
                              <textarea class="form-control w-100" cols="2" rows="7" [(ngModel)]="detalle" (ngModelChange)="checkFields()"></textarea>
                            </div>
                          </div>
                        </div>
                    </li>
                    <hr class="sidebar-divider bg-primary" style="height: 1px;">
                    <li class="text-primary">
                        <p>Seleccione el método de pago</p>
                        <p class="text-black">Valor del certificado:  <span class="font-weight-bold">${{ currencyUtils.formatCurrency(certificate.price) }}</span></p>
                        <p class="text-black">Seleccione el metodo de pago digital</p>

                    </li>
                    <div class="row ml-3 cardPago">
                      <div class="col-md-3 d-flex justify-content-center" [class.disabled]="disableButton" [ngClass]="{'fade-opacity': true}" (click)="paymentAvalPayComponent()">
                        <img class="p-4" src="assets/img-pagomatricula/image1.png" alt="">
                      </div>
                      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center" [class.disabled]="disableButton" [ngClass]="{'fade-opacity': true}" (click)="pagar()">
                        <i class="bi bi-wallet-fill text-white" style="font-size: 60px"></i>
                        <span>Bolsillo</span>
                      </div>
                      <!-- <div class="col-md-3 d-flex flex-column justify-content-center align-items-center">
                        <i class="bi bi-credit-card-2-back-fill text-white" style="font-size: 60px"></i>
                        <span>Tarjeta de crédito</span>
                      </div>
                      <div class="col-md-3 d-flex justify-content-center">
                        <img class="p-4" src="assets/img-pagomatricula/image2.png" alt="">
                      </div> -->
                    </div>
                </ul>
                
                
            </div>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>