<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="content container my-xl-2">
    <div class="row">
      <div class="content-section col-md-12 mx-auto">
        <div class="cardM card">
         <div class="card-body">
          <div class="card-body">
          </div>
          <div class="card text-center" style="width: 15rem;height: 15rem">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text"></p>
              <img  class="" alt="Imagen" [src]=" imgSelect || '../../../../assets/img/default.jpg'" class="rounded-circle img-responsive mt-2" width="128" height="128">
              <input [(ngModel)]="imageUrl" (change)="imageSelect($event)"  type="file" style="width: 100% !important;">
            </div>
          </div>
          <form #extracurricularForm="ngForm" (ngSubmit)="onSubmit(extracurricularForm)">
            <div class="row">

              <div *ngIf="mensaje_ok">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>{{mensaje_ok}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>


              <div *ngIf="mensaje_error">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>{{mensaje_error}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    (click)="cerrarAlerta()"></button>
                </div>
              </div>
              <h4>Nuevo extracurricular</h4>



              <div class="col-md-12 my-3">
                <label class=""></label>
              </div>

              <div class="col-md-1 my-3">
                <label class="">Actividad</label>
              </div>

              <div class="col-md-5 my-3">
                <input type="text" class="form-control" #activity="ngModel" name="activity" [(ngModel)]="dataExtracurricular.activity" required>
              </div>

              <div class="col-md-5">
              </div>

              <div class="col-md-12 my-2">

              </div>

              <div class="col-md-1">
                <label class="">Inicio</label>
              </div>

              <div class="col-md-5">
                <input type="date" class="form-control" #startDate="ngModel" name="startDate" [(ngModel)]="dataExtracurricular.startDate" required>
              </div>

              <div class="col-md-1">
                <label class="">Fin</label>
              </div>

              <div class="col-md-5">
                <input type="date" class="form-control"  #finalDate="ngModel" name="finalDate" [(ngModel)]="dataExtracurricular.finalDate" required>
              </div>

              <div class="col-md-12 my-3">

              </div>

              <div class="col-md-1">
                <label class="">Valor</label>
              </div>
              <div class="col-md-5">
                <input type="number" class="form-control"  #price="ngModel" name="price" [(ngModel)]="dataExtracurricular.price"required>
              </div>

              <div class="col-md-1">
                <label class="">Docente</label>
              </div>
              <div class="col-md-5">
                <input type="text" class="form-control" #teacher="ngModel" name="teacher" [(ngModel)]="dataExtracurricular.teacher"required>
              </div>

              <div class="col-md-12 my-3">

              </div>

              <div class="col-md-1">
                <label class="">Información (URL)</label>
              </div>
              <div class="col-md-5">
                <input type="text" class="form-control" #information="ngModel" name="information" [(ngModel)]="dataExtracurricular.information"required>
              </div>

              <div class="col-md-1">
                <label class="">Horario (URL)</label>
              </div>
              <div class="col-md-5">
                <input type="text" class="form-control"  #schedule="ngModel" name="schedule" [(ngModel)]="dataExtracurricular.schedule"required>
              </div>

            </div>

            <div class="col-md-6 my-4">
              <button type="submit" class="btn btn-outline-info m-3"> Cancelar</button>

              <button type="submit" class="btn btn-primary m-3"> Guardar</button>

            </div>

          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</app-dashboard>



