<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="container my-xl-2">
     <div class="row">   
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-end">
          <div class="col-md-3 col-12 my-2">
            <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
              <div class="input-group date" id="datetimepicker-minimum" data-target-input="nearest">
                <div class="input-group-append">
                  <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
                </div>
                <input type="text" class="form-control datetimepicker-input" #filtro="ngModel" name="filtro"
                  [(ngModel)]="filterText">
              </div>
            </form>
          </div>
          <div class="col-md-4 col-4 my-2">
            <div class="ml-auto">
              <button class="btn btn-primary mr-3" (click)="search(searchForm)"><i class="bi bi-funnel"></i> Filtro</button>
              <button  class="btn btn-primary" routerLink="/documentos-crear"> Nuevo documentos</button>
            </div>
          </div>
        </div>
        <div class="table-responsive-sm table-responsive-md  table-responsive-lg">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">titulo</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let data of documentos; let index = index ">
              <tr class="align-bottom">
                <th scope="row">{{index+1}}</th>
                <td>{{data.titulo}}</td>
                <td>
                  <button class="btn text-primary" routerLink="/documentos-editar/{{data.id}}">Editar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  </div>

</app-dashboard>