<app-dashboard>
    <div class="container my-xl-2">
      <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / <a href="ajuste-perfil">Ajustes del perfil</a> / Página actual</li>
        </ol>
        <div class="card">
          <div class="card-body">
            <div class="container">
                <p class="text-primary" style="font-size: larger;">Datos de la madre</p>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Estado
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        ¿Vive?
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Tipo de documento
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                        
                    </div>
                    <div class="col-md-6">
                        Identificación
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Nombres completos
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Apellidos completos
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Profesión
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Empresa donde trabaja
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Cargo
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Correo electrónico
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Dirección
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Teléfono
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Celular
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <hr class="sidebar-divider bg-primary" style="height: 1px;">

                <p class="text-primary" style="font-size: larger;">Datos del padre</p>

                <div class="row mb-3">
                    <div class="col-md-6">
                        Estado
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        ¿Vive?
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Tipo de documento
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                        
                    </div>
                    <div class="col-md-6">
                        Identificación
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Nombres completos
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Apellidos completos
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Profesión
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Empresa donde trabaja
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Cargo
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Correo electrónico
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Dirección
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Teléfono
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Celular
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <hr class="sidebar-divider bg-primary" style="height: 1px;">

                <p class="text-primary" style="font-size: larger;">Datos del acudiente</p>

                <div class="row mb-3">
                    <div class="col-md-6">
                        Parentesco
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        ¿Vive?
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Tipo de documento
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                        
                    </div>
                    <div class="col-md-6">
                        Identificación
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Nombres completos
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Apellidos completos
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Profesión
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Empresa donde trabaja
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Cargo
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Correo electrónico
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Dirección
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Teléfono
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Celular
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <hr class="sidebar-divider bg-primary" style="height: 1px;">
                <div class="row mb-3">
                    <div class="col-md-6">
                        ¿Con quien vive?<span class="text-danger">*</span>
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>

                <hr class="sidebar-divider bg-primary" style="height: 1px;">

                <p class="text-primary" style="font-size: larger;">Persona responsable para facturación electrónica</p>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Responsable
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                    </div>
                </div>

                <hr class="sidebar-divider" style="height: 1px;">
                <div class="row mb-3">
                    <div class="col-md-6">
                        Tipo de persona
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                        
                    </div>
                    <div class="col-md-6">
                        Razón social
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Tipo de documento
                        <select name="" id="" class="form-control">
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                            <option value="">example 1</option>
                        </select>
                        
                    </div>
                    <div class="col-md-6">
                        Identificación
                        <input type="number" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        País
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Correo electrónico
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Departamento
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                    <div class="col-md-6">
                        Ciudad
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        Dirección
                        <input type="text" class="form-control" name="" id="" placeholder="">
                    </div>
                </div>

                <hr class="sidebar-divider bg-primary" style="height: 1px;">

                <p class="text-primary" style="font-size: larger;">Tratamiento de data</p>
                <div class="row">
                    <div class="col-md-6">
                        <input type="checkbox" name="" id=""> <a class="ml-2" href="">Acepto que todos mis datos personales se encuentran actualizados.</a>
                    </div>
                    <div class="col-md-6">
                        <input type="checkbox" name="" id=""> <a class="ml-2" href="">Acepto Ley de protección de datos.</a>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mt-3 ml-3" style="width: fit-content;">Gurdar información</button>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>