<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2">
            <div class="card"> 
              <div class="card-body"> 
                <div class="container row ">
                  <div class="col-md-5 col-12 ml-4">
                    <h5 class="text-info btn">Acudientes</h5>
                  </div>
                 </div>
                <div class="row justify-content-end">
                      <div class="col-md-3 col-12 my-2">
                    </div>
                    <div class="col-md-1 col-4 my-2">
                    </div>
                </div>
                <div class="table-responsive-sm table-responsive-md  table-responsive-lg">
                  <table datatable class="row-border hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Foo</td>
                        <td>Bar</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Someone</td>
                        <td>Youknow</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Iamout</td>
                        <td>Ofinspiration</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Yoda</td>
                        <td>Skywalker</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Patrick</td>
                        <td>Dupont</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Barack</td>
                        <td>Obama</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>François</td>
                        <td>Holland</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Michel</td>
                        <td>Popo</td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>Chuck</td>
                        <td>Norris</td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>Simon</td>
                        <td>Robin</td>
                      </tr>
                      <tr>
                        <td>11</td>
                        <td>Louis</td>
                        <td>Lin</td>
                      </tr>
                      <tr>
                        <td>12</td>
                        <td>Zelda</td>
                        <td>Link</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>
      <!-- modal deshabilitar -->
      <!-- <div class="modal fade" id="deshabilitarModalToggle{{data.id}}" aria-hidden="true"
        aria-labelledby="deshabilitarModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <br>
              <br>
              <br>
              <h4 class="text-center text-primary">¿Estás seguro de deshabilitar este acudiente?</h4>
              <br>
              <br>
              <div class="text-center">
                <button type="button" class="btn btn-outline-primary m-2" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary m-2" data-target="#deshabilitarModalToggle" data-toggle="modal"
                  data-dismiss="modal" (click)="deshabilitar(data)">Deshabilitar</button>
                <br>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- modal recuperar pass -->
      <!-- <div class="modal fade" id="recuperarPassModalToggle" aria-hidden="true" aria-labelledby="recuperarPassModalToggleLabel"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <br>
              <br>
              <br>
              <h4 class="text-center text-primary">¿Estás seguro de reestablecer esta contraseña?</h4>
              <br>
      
              <br>
              <div class="text-center">
                <button type="button" class="btn btn-outline-primary m-2" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary m-2" data-bs-target="#recuperarPassModalToggle"
                  data-bs-toggle="modal" (click)="restablecerContrasena(data)">Restablecer</button>
                <br>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  </app-dashboard>
  
  