<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2">
      <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / Página actual</li>
        </ol>
        <div class="card">
          <div class="card-body">
            <div class="container">
                <p class="text-primary">Ahora una forma de administrar los pagos de la educación de tu hijo</p>
                <p class="text-black"> Saldo total del bolsillo: <span class="text-black font-weight-bold">${{ currencyUtils.formatCurrency(bolsillo) }}</span></p>
                <small class="text-muted">Seleccion Rápida</small>
                <div class="mt-3">
                  <button href="#" class="btn btn-primary btn-amount mb-2 mr-2" (click)="fastAmount(100000)"><i class="bi bi-currency-dollar"></i>100.000</button>
                  <button href="#" class="btn btn-primary btn-amount mb-2 mr-2" (click)="fastAmount(200000)"><i class="bi bi-currency-dollar"></i>200.000</button>
                  <button href="#" class="btn btn-primary btn-amount mb-2 mr-2" (click)="fastAmount(300000)"><i class="bi bi-currency-dollar"></i>300.000</button>
                  <button href="#" class="btn btn-primary btn-amount mb-2" (click)="fastAmount(400000)"><i class="bi bi-currency-dollar"></i>400.000</button>
                </div>
                  <div class="mt-3 mb-3 d-flex align-items-center font-weight-bold">
                    ¿Cuanto quieres recargar? 
                    <form [formGroup]="formValue" class="d-flex ml-3">
                        <input class="form-control" placeholder="$1000" type="text" id="amout" (change)="validateNumber($event)">
                    </form>
                  </div>
                  <hr class="sidebar-divider bg-primary" style="height: 1px;">
                  <p>Seleccione el método de pago</p>
                  <p class="text-black">Valor a recargar:<span class="text-black font-weight-bold"> ${{currencyUtils.formatCurrency(amount)}}</span>
                  </p>
                  <div class="row mt-4 mb-3 cardPago">
                    <div class="col-md-3 d-flex justify-content-center" [class.disabled]="disableButton" [ngClass]="{'fade-opacity': true}" (click)="paymentAvalPayComponent()">
                      <img class="p-4" src="assets/img-pagomatricula/image1.png" alt="">
                    </div>
                  </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
</app-dashboard>