<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2">
      <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / <a href="/matricula">Pago de matrícula</a> / Página actual</li>
        </ol>
        <div class="card">
          <div class="card-body">
            <div class="container">
                <ul class="numbered-list">
                    <li class="text-primary">
                        <p>Seleccione documentos de matrícula para descargar</p>
                        <div class="mt-3 d-flex align-items-center text-black">
                          Documento a descargar<span class="text-danger">*</span>
                        <select class="form-control ml-3" style="width: fit-content;" [(ngModel)]="docId" >
                            <option value="">Paz y Salvo</option>
                            <!-- <option *ngFor="let item of listDoc" value="{{ item.documentUrl }}">{{ item.title }}</option> -->
                        </select>
                        <!-- <button class="ml-4 btn btn-primary form-control" style="width: fit-content;" (click)="descargarDocumento()">Descargar documento</button> -->
                        <a href="http://localhost:3000/downloads/tuition/123123/pazysalvo" target="_blank" download class="ml-4 btn btn-primary form-control"  style="width: fit-content;">Descargar documento</a>
                        </div>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>