<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="container my-xl-2">
    <div class="row">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / Página actual
        </li>
      </ol>
      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Nombres completos</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                    placeholder="Nombres completos" [(ngModel)]="certificate.certificateInscriptionAsEstudiante.nombres"
                    disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Apellidos completos</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                    placeholder="Apellidos completos"
                    [(ngModel)]="certificate.certificateInscriptionAsEstudiante.apellidos" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Código del estudiante</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                    placeholder="Código del estudiante"
                    [(ngModel)]="certificate.certificateInscriptionAsEstudiante.codigo" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Grado</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Grado"
                    [(ngModel)]="certificate.certificateInscriptionAsGrade.description" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Concepto</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Concepto"
                    [(ngModel)]="certificate.certificateInscriptionAsCertificate.concept" disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Tiempo de entrega (dias)</label>
                  <input type="number" class="form-control" name="" id="" aria-describedby="helpId"
                    placeholder="Tiempo de entrega (dias)"
                    [(ngModel)]="certificate.certificateInscriptionAsCertificate.time" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Canal de envío</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                    placeholder="Canal de envío" [(ngModel)]="certificate.canalEntrega"
                    disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Solicitante</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                    placeholder="Solicitante" [(ngModel)]="solicitante" disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Valor cancelado</label>
                  <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="$"
                  [(ngModel)]="certificate.certificateInscriptionAsCertificate.price" disabled>
                </div>
              </div>
              <hr>
              <form [formGroup]="formValue">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="">Estado</label>
                      <select class="form-control" formControlName="status">
                        <option [selected]="certificate.status == 0" value="0">Rechazado</option>
                        <option [selected]="certificate.status == 1" value="1">Aprobado</option>
                        <option *ngIf="certificate.canalEntrega != 'Online'" [selected]="certificate.status == 2" value="2">Entregado</option>
                        <option *ngIf="certificate.paid != 0" [selected]="certificate.status == 3" value="3">Listo</option>
                        <option [selected]="certificate.status == null" value="">Pendiente</option>
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group" *ngIf="certificate.canalEntrega == 'Online' && certificate.status != 0">
                      <label for="">Documento (URL)</label>
                      <input type="text" class="form-control" formControlName="documentUrl" placeholder="Documento (URL)">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="text-right">
              <button type="button" class="btn btn-primary" (click)="actualizarInscripcion()">Guardar</button>
              <button type="button" class="btn btn-outline-primary ml-3" routerLink="/certificados-solicitud">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-dashboard>