.route-info{
    background: linear-gradient(333deg, rgb(255 255 255 / 65%) 40%, #f7f7f7 70%), url('../../../assets/acudiente/servicios/transporte.jfif');
    height: 399px;
    background-size: cover;
    border-radius: 1rem;
    padding: 2rem;
}