<section class="hero">
	<div class="background-image" style="background-image: url(assets/img/hero.png);"></div>
	<div class="card shadow-2-strong">
		<div>
      <h6 class="text-primary text-left m-3"> Nueva contraseña</h6>
			<p class="text-start m-2 p-2"> <br>
        <b>Por favor recordar la nueva contraseña <br>
          a continuación debe digitar en ambos campos <br> su nueva contraseña.</b> </p>
		</div>
		<form [formGroup]="formValue">
      <div class="ml-3 row">
        <div class="col-12">
          <div class="text-left">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nueva contraseña</label>
              <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite nueva contraseña" formControlName="password">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Repita la nueva contraseña</label>
              <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Repita nueva contraseña" formControlName="passwordVerified">
            </div>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary w-100 m-1" (click)="actualizarPassword()">Restablcer contraseña</button>
          <button type="submit" class="btn btn-outline-primary w-100 m-1" routerLink="">Cancelar</button>
        </div>
      </div>



		</form>
	</div>
</section>




