<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="content container my-xl-2">
      <div class="row">
        <div class="content-section col-md-12 mx-auto">
          <div class="cardM card">
           <div class="card-body">
            <div class="card-body">
            </div>
            <h5 class="text-primary">Ver extracurricular</h5>
            <div class="card text-center" style="width: 15rem;height: 15rem">
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
            
                <!-- <img *ngIf="base_url"  class="" alt="Imagen" [src]="base_url + 'extracurricular/extracurricular/img/'+ imgSelect || '../../../../assets/img/default.jpg'"  class="rounded-circle img-responsive my-2" width="120" height="120"> -->
                <!-- <img *ngIf="!base_url" class="" alt="Imagen" [src]=" imgSelect || '../../../../assets/img/default.jpg'" class="rounded-circle img-responsive mt-2" width="128" height="128"> -->
                <!-- <input [(ngModel)]="imageUrl" (change)="imageSelect($event)"  type="file" style="width: 100% !important;"> -->
              </div>
            </div>
            <form #extracurricularForm="ngForm">
              <div class="row">
  
                <div *ngIf="mensaje_ok">
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{mensaje_ok}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
  
  
                <div *ngIf="mensaje_error">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{mensaje_error}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                      (click)="cerrarAlerta()"></button>
                  </div>
                </div>
           
  
  
  
                <div class="col-md-12 my-3">
                  <label class=""></label>
                </div>
  
                <div class="col-md-1 my-3">
                  <label class="">Actividad</label>
                </div>
  
                <div class="col-md-5 my-3">
                  <input type="text" class="form-control" #activity="ngModel" name="activity" readonly [(ngModel)]="dataExtracurricular.activity" required>
                </div>
  
                <div class="col-md-5">
                </div>
  
                <div class="col-md-12 my-2">
  
                </div>
  
                <div class="col-md-1">
                  <label class="">Inicio</label>
                </div>
  
                <div class="col-md-5">
                  <input type="date" class="form-control" #startDate="ngModel" name="startDate" readonly [(ngModel)]="dataExtracurricular.startDate" required>
                </div>
  
                <div class="col-md-1">
                  <label class="">Fin</label>
                </div>
  
                <div class="col-md-5">
                  <input type="date" class="form-control"  #finalDate="ngModel" name="finalDate" readonly [(ngModel)]="dataExtracurricular.finalDate" required>
                </div>
  
                <div class="col-md-12 my-3">
  
                </div>
  
                <div class="col-md-1">
                  <label class="">Valor</label>
                </div>
                <div class="col-md-5">
                  <input type="number" class="form-control"  #price="ngModel" name="price" readonly [(ngModel)]="dataExtracurricular.price"required>
                </div>
  
                <div class="col-md-1">
                  <label class="">Docente</label>
                </div>
                <div class="col-md-5">
                  <select class="form-control"  #idTeacher="ngModel" name="idTeacher" readonly [(ngModel)]="dataExtracurricular.idTeacher"required>
                    <option value="" selected>SELECCIONAR</option>
                    <option *ngFor="let item of teacherData" value="{{item.id}}">{{item.name}}</option>
                  </select> 
                </div>
  
                <div class="col-md-12 my-3">
  
                </div>
  
                <div class="col-md-1">
                  <label class="">Información (URL)</label>
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control" #information="ngModel" name="information" readonly [(ngModel)]="dataExtracurricular.information">
                </div>
  
                <div class="col-md-1">
                  <label class="">Horario (URL)</label>
                </div>
                <div class="col-md-5">
                  <input type="text" class="form-control"  #schedule="ngModel" name="schedule" readonly [(ngModel)]="dataExtracurricular.schedule">
                </div>
  
              </div>
  
              <div class="col-md-6 my-4">
                <button class="btn btn-outline-primary m-3" routerLink="/mis-extracurriculares"> Volver</button>
              </div>
  
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
  </app-dashboard>
  
  
  
  
