<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container">
      <div class="my-3 row">
        <div class="col-md-4 col-sm-12 mb-4 px-3">
          <div routerLink="/solicitud-certificado" class="card-home" style="background: linear-gradient(0deg, #00000073 40%, transparent 70%), url('assets/img-certificados/pexels-pixabay-261895 2.png');">
              <h5>Solicitud de certificados</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 mb-4 px-3">
          <div routerLink="/estado-certificado" class="card-home" style="background: linear-gradient(0deg, #00000073 40%, transparent 70%), url('assets/img-certificados/pexels-pixabay-261895 2 (1).png');">
              <h5>Estado de certificados</h5>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>