<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2">
      <div class="row">   
        <div class="card"> 
           <div class="card-body"> 
            <div class="container row ">
              <div class="col-md-5 col-12 ml-4">
                <h5 class="text-primary">Descuentos</h5>
              </div>
             </div>
            <div class="row justify-content-end">
                  <div class="col-md-3 col-12 my-2">
                    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
                        <div class="input-group date" id="datetimepicker-minimum" data-target-input="nearest">
                          <div class="input-group-append">
                            <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
                        </div>
                            <input type="text" class="form-control datetimepicker-input" #filtro="ngModel" name="filtro" [(ngModel)]="filterText">
                        </div>
                    </form>
                </div>
                <div class="col-md-1 col-4 my-2">
                  <button  class="btn btn-primary" (click)="search(searchForm)"><i class="bi bi-funnel"></i> Filtro</button>
                </div>
                <div class="col-md-3 col-8 my-2">
                  <button type="button" class="btn btn-primary" routerLink="/discount-crear">Agregar descuento</button>
                </div>
            </div>
            <div class="view">
              <table class="table table-hover table-bordered table-responsive-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Servicio<noscript></noscript></th>
                    <th scope="col">Porcentaje</th>
                    <th scope="col">Fecha de inicio</th>
                    <th scope="col">Fecha final</th>
                    <th scope="col">Tipo de descuento</th>
                    <th scope="col">Estado</th>
                    <th scope="col" class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody *ngFor="let data of dataDiscount; let index = index ">
                  <tr>
                    <td>{{index+1}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.percentage}}</td>
                    <td>{{data.starDate | date:'dd/MM/yy'}}</td>
                    <td>{{data.finalDate | date:'dd/MM/yy'}}</td>
                    <!-- <td>{{data.frequency}}</td> -->
                    <td>{{data.service}}</td>
                    <td *ngIf="data.isActive==0">Inactivo</td>
                    <td *ngIf="data.isActive==1">Activo</td>
        
                    <td>
                      <button  class="text-black btn" routerLink="/discount-editar/{{data.id}}">Editar</button>|
                      <button  class="text-info btn" (click)="activar(data)">Activar</button>|
                      <button  class="text-danger btn"(click)="deshabilitar(data)">Desactivar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
     
            </div>
        </div>
      </div>
    </div>

  </app-dashboard>





