<app-dashboard>
  <app-nav-title [navTitle]="navTitle"></app-nav-title>
  <div class="content container my-xl-2">
    <div class="row">
      <div class="content-section col-md-12 mx-auto">
        <div class="card">
         <div class="card-body">
          <form [formGroup]="formValue">
            <div class="row">

              <div *ngIf="mensaje_ok">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <strong>{{mensaje_ok}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>


              <div *ngIf="mensaje_error">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>{{mensaje_error}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                    (click)="cerrarAlerta()"></button>
                </div>
              </div>
              <h4>Editar transporte:</h4>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="">Nombre de la ruta</label>
                    <input type="text" class="form-control" formControlName="routeName">
                  </div>
                  <div class="form-group">
                    <label class="">Número de la ruta</label>
                    <input type="number" class="form-control" formControlName="routeNumber">
                  </div>
                </div>
              
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="">Jornada</label>
                    <select class="form-control" formControlName="jornada">
                      <option value="1" selected>Mañana</option>
                      <option value="0">Tarde</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="">Valor ruta</label>
                    <input type="number" class="form-control" formControlName="price">
                  </div>
                  <div class="form-group">
                    <label class="">Tipo de ruta</label>
                    <input type="text" class="form-control" formControlName="routeType">
                  </div>
                </div>
              
              </div>
            </div>
              

            <div class="col-md-6 my-4">
              <button type="submit" class="btn btn-outline-primary m-3" routerLink="/transporte"> Cancelar</button>

              <button type="submit" class="btn btn-primary m-3" (click)="actualizarTransporte()"> Guardar</button>

            </div>

          </form>
        </div>
      </div>
      </div>
    </div>
  </div>
</app-dashboard>







