<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2">
            <div class="card"> 
              <div class="card-body"> 
                <div class="row justify-content-end">
                      <div class="col-md-3 col-12 my-2">
                        <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
                            <div class="input-group date" id="datetimepicker-minimum" data-target-input="nearest">
                              <div class="input-group-append">
                                <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
                            </div>
                                <input type="text" class="form-control datetimepicker-input" #filtro="ngModel" name="filtro" [(ngModel)]="filterText">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1 col-4 my-2">
                      <button  class="btn btn-primary" (click)="search(searchForm)"><i class="bi bi-funnel"></i> Filtro</button>
                    </div>
                </div>
                <div class="table-responsive-sm table-responsive-md  table-responsive-lg">
                  <table class="table table-hover table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Acudiente</th>
                        <th scope="col">Apellido Acudiente</th>
                        <th scope="col">Correro electrónico</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">Días en Mora</th>
                        <th scope="col">Pago total pendiente</th>
                      </tr>
                    </thead>
                    <tbody  *ngFor="let data of dataAttendingManagements; let index = index ">
                      <tr class="align-bottom">
                        <th scope="row">{{index+1}}</th>
                        <td>{{data.nombres}}</td>
                        <td>{{data.apellidos}}</td>
                        <td>{{data.correoElectronico}}</td>
                        <td>{{data.bolsillo}}</td>
                        <td class="font-weight-bold text-danger">2</td>
                        <td class="text-danger">-$100.000</td>
                      </tr>
                      <!-- modal deshabilitar -->
                      <div class="modal fade" id="deshabilitarModalToggle{{data.id}}" aria-hidden="true" aria-labelledby="deshabilitarModalToggleLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-body">
                              <br>
                              <br>
                              <br>
                              <h4 class="text-center text-primary">¿Estás seguro de deshabilitar este  acudiente?</h4>
                              <br>
                              <br>
                              <div class="text-center">
                                <button type="button" class="btn btn-outline-primary m-2" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary m-2" data-target="#deshabilitarModalToggle" data-toggle="modal" data-dismiss="modal" (click)="deshabilitar(data)" >Deshabilitar</button>
                                <br>
                                <br>
                                <br>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                          <!-- modal recuperar pass -->
                          <div class="modal fade" id="recuperarPassModalToggle" aria-hidden="true" aria-labelledby="recuperarPassModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-body">
                                  <br>
                                  <br>
                                  <br>
                                  <h4 class="text-center text-primary">¿Estás seguro de reestablecer esta contraseña?</h4>
                                  <br>
                                  
                                  <br>
                                  <div class="text-center">
                                    <button type="button" class="btn btn-outline-primary m-2" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary m-2" data-bs-target="#recuperarPassModalToggle" data-bs-toggle="modal" (click)="restablecerContrasena(data)">Restablecer</button>
                                    <br>
                                    <br>
                                    <br>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>
  </app-dashboard>
  