<app-dashboard>
    <app-nav-title [navTitle]="navTitle"></app-nav-title>
    <div class="container my-xl-2">
      <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home"><i class="bi bi-house-door"></i>Inicio</a> / <a href="/otros-servicios">Pago de servicios</a> / Página actual</li>
        </ol>
        <div class="card">
          <div class="card-body">
            <div class="container">
                <ul class="numbered-list">
                    <li class="text-primary">
                        <p>Información de la cafeteria.</p>
                        <!-- <p>Valor de pensión anual: <span class="text-black">$</span> <span class="ml-4">Valor de pensión mensual: <span class="text-black">$</span></span> </p> -->
                        <div class="mt-3 d-flex align-items-center text-black">
                            <span class="">Menú preseleccionado</span>
                            <select class="form-control ml-3" style="width: fit-content;" [(ngModel)]="menuSelect" (ngModelChange)="changeSelect()">
                                <option value="{{ item.id }}" *ngFor="let item of listMenu">{{ item.description }}</option>
                            </select>
                            <span class="ml-3">Cantidad</span>
                              <select class="form-control ml-3" style="width: fit-content;" [(ngModel)]="cantMenu" (ngModelChange)="changeSelect()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                              </select>
                        </div>
                    </li>
                    <hr class="sidebar-divider bg-primary" style="height: 1px;">
                    <li class="text-primary">
                        <p>Seleccione el método de pago</p>
                        <p class="text-black">Valor de la lonchera: <span class="font-weight-bold"> ${{ currencyUtils.formatCurrency(cant) }}</span></p>
                        <p class="text-black">Seleccione el metodo de pago digital</p>

                    </li>
                    <div class="row ml-3 cardPago">
                      <div class="col-md-3 d-flex justify-content-center" [class.disabled]="disableButton" [ngClass]="{'fade-opacity': true}" (click)="paymentAvalPayComponent()">
                        <img class="p-4" src="assets/img-pagomatricula/image1.png" alt="">
                      </div>
                      <div class="col-md-3 d-flex flex-column justify-content-center align-items-center" [class.disabled]="disableButton" [ngClass]="{'fade-opacity': true}" (click)="pagar()">
                        <i class="bi bi-wallet-fill text-white" style="font-size: 60px"></i>
                        <span>Bolsillo</span>
                      </div>
                    </div>
                </ul>
                
                
            </div>
          </div>
        </div>
      </div>
    </div>
</app-dashboard>